<div class="container">
	<h1> Jobs Form <%= link_to "Back", company_path(@company,@job) ,class: "btn btn-default pull-right" %></h1><hr/>
	<div class="col-md-8  col-md-offset-2">
		<%= render "jobs/form" %>
	</div>
</div>	