<div class="container">
	<h1>Editing Details <%= link_to "Back", company_path(@company), class: "btn btn-default pull-right"%></h1><hr/>
	<div class="col-md-8 col-md-offset-2">
		<%= render "form" %>
	</div>	
</div>	