<div class="container">
	<h1>Add Company  <%= link_to "Back", companies_path, class: "btn btn-default pull-right" %></h1><hr>
	<div class="col-md-6 col-md-offset-3">
		<%= render "form" %>
	</div>	
</div>	