<div class="container">
	<%= render "company_details" %>
</div><hr/>
<div class="container">
	<%= render "company_jobs" %>
</div>
<% if candidate_signed_in? %>
	<% if current_candidate.email == "#{@company.name.downcase}@gmail.com" %>
	<hr/>
		<%= render "applied_candidates"%>
	<% end %>
<% end %>		